@import url(https://fonts.googleapis.com/css?family=Patua+One);

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f9f6e8;
  color: #67a1af;
  font-family: "Patua One", cursive;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.inner {
  width: 90%;
  max-width: 400px;
}

input[type="number"] {
  font-size: 5em;
  width: 1em;
  text-align: center;
  font-family: "Patua One", cursive;
  background-color: #f2eeda;
  color: #67a1af;
  border: none;
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.result {
  padding-top: 10px;
  height: 100px;
}

h1 {
  font-size: 4em;
}
